[Unit]
Description=API Rust - Sagedt
After=network.target

[Service]
User=sagedt
WorkingDirectory=/opt/ADEcampus-API/
ExecStart=/opt/ADEcampus-API/target/release/ADEcampus 
Restart=always
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
