name: Run all update scripts

on:
  schedule:
    - cron: '*/5 * * * *' # Every 15 min
  workflow_dispatch: # Can be run manually

permissions:
  contents: write

jobs:
  auto-update:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}

      - name: Config Git
        run: |
          git config user.name "c2fc2f"
          git config user.email "culottes@sagbot.com"
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import
          KEY_ID=$(gpg --list-secret-keys --with-colons | awk -F: '/^sec/ {print $5; exit}')
          git config --global user.signingkey "$KEY_ID"
          git config --global commit.gpgsign true

      - name: Make update scripts executable
        run: |
          chmod +x ci/update.sh

      - name: Run all update scripts
        env:
          NIX_CONFIG: "access-tokens = github.com=${{ secrets.PERSONAL_TOKEN }}"
        run: ./ci/update.sh

      - name: Push commits
        run: |
          git push
